file/nodere-25-8.json
[
    {
        "id": "b45b7dde4e1d3b0e",
        "type": "mqtt out",
        "z": "9ba5d5581f98279f",
        "name": "",
        "topic": "kdi6033@gmail.com/outtopic",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f15d66b3.c7edf8",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "db2455efa9ef5aa0",
        "type": "inject",
        "z": "9ba5d5581f98279f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "테스트",
        "payloadType": "str",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "b45b7dde4e1d3b0e"
            ]
        ]
    },
    {
        "id": "b9854f2c80122bc0",
        "type": "mqtt in",
        "z": "9ba5d5581f98279f",
        "name": "",
        "topic": "kdi6033@gmail.com/intopic",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f15d66b3.c7edf8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 200,
        "wires": [
            [
                "665f2bbef0060d8b"
            ]
        ]
    },
    {
        "id": "665f2bbef0060d8b",
        "type": "debug",
        "z": "9ba5d5581f98279f",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 200,
        "wires": []
    },
    {
        "id": "f15d66b3.c7edf8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "ai.doowon.ac.kr",
        "port": "1883",
        "tls": "509a45a9.089bbc",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "509a45a9.089bbc",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "94191b3ef7-certificate.pem.crt",
        "keyname": "94191b3ef7-private.pem.key",
        "caname": "MtestCA.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]