file/nodere-25-8.json
[
    {
        "id": "f19773620117601d",
        "type": "mqtt out",
        "z": "a9ac1b37b127160c",
        "name": "",
        "topic": "i2r/kdi60331@gmail.com/out",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f15d66b3.c7edf8",
        "x": 440,
        "y": 100,
        "wires": []
    },
    {
        "id": "fe73c67ba986b3f0",
        "type": "inject",
        "z": "a9ac1b37b127160c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "테스트",
        "payloadType": "str",
        "x": 230,
        "y": 100,
        "wires": [
            [
                "f19773620117601d"
            ]
        ]
    },
    {
        "id": "5ad3abbf16f55299",
        "type": "mqtt in",
        "z": "a9ac1b37b127160c",
        "name": "",
        "topic": "i2r/kdi60331@gmail.com/in",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "f15d66b3.c7edf8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "0748bb1943015c5b"
            ]
        ]
    },
    {
        "id": "0748bb1943015c5b",
        "type": "debug",
        "z": "a9ac1b37b127160c",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "f15d66b3.c7edf8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "ai.doowon.ac.kr",
        "port": "1883",
        "tls": "509a45a9.089bbc",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "509a45a9.089bbc",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "994029d689d1e0812df9e162610c9df73501214f79d8a5005f64717a8fadd899-certificate.pem.crt",
        "keyname": "994029d689d1e0812df9e162610c9df73501214f79d8a5005f64717a8fadd899-private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]
